<div id="main" class="d-flex flex-column min-vh-100 min-vw-100 overflow-hidden">
  <div class="d-flex min-vh-100">
    <div class="options-section" style="width: 14%;">
      <app-options-sintactico (componentSelected)="selectOnMain($event)"></app-options-sintactico>
    </div>

    <div class="main-section vh-100" style="width: 86%;">
      <app-analizar-gramatica *ngIf="selectedComponent === 'gramatica'"></app-analizar-gramatica>
      <app-analizar-cadena *ngIf="selectedComponent === 'cadena'"></app-analizar-cadena>
    </div>
  </div>