<div class="new container pad1 10vh pt-4">
    <div class="d-flex flex-column align-items-center">
        <form (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="d-flex flex-row">
                <div class="form-group mb-3 me-3">
                    <input type="text" class="" id="expresion" placeholder="Expresión" [(ngModel)]="expresion" name="expresion">
                </div>
                <div class="form-group mb-3 me-3">
                    <input type="file" class="" id="fileInput" (change)="onFileSelected($event)" name="fileInput">
                </div>
                <div class="mb-3 me-3">
                    <button type="submit" class="crear btn border-white">Calcular</button>
                </div>
            </div>
        </form>
    </div>
</div>