<div id="main" class="d-flex flex-column min-vh-100 min-vw-100">
  <div  class="d-flex min-vh-100">
    <div class="options-section" style="width: 15%;">
        <app-options></app-options>
    </div>
  
    <div class="code-section container d-flex align-items-center justify-content-center" id="code" style="width: 85%;">
      <div class="javaCode code-text">
        <div class="bg-gray container d-flex align-items-center">
          <div class="code-container coding" id="code-content">
            Operaciones disponibles:
          </div>
        </div>
        <pre>
          <code class="align-flex">
          </code>
        </pre>
      </div>
    </div>
  
  </div>
