<div id="main" class="d-flex flex-column min-vh-100 min-vw-100">
  <div class="d-flex min-vh-100">
    <div class="options-section" style="width: 10%;">
      <app-options (componentSelected)="selectOnMain($event)" (resetAutomatas)="OnReset($event)"></app-options>

    </div>

  <div class="main-section mx-auto container d-flex justify-content-center vh-100">
      <div class="text-center mx-auto">
        <div class="showCreate d-flex justify-content-center" [ngClass]="{'slide-down': selectedComponent === 'crearBasico' || selectedComponent === 'regexToAFN' }">
            <app-crear-basico (number)="automatasCreated($event)" *ngIf="selectedComponent === 'crearBasico' && basico_created == false"></app-crear-basico>
            <app-regex-to-afn (id)="regexCreated($event)" *ngIf="selectedComponent === 'regexToAFN'"></app-regex-to-afn>
            <app-analizar (final_table)="getTable($event)" *ngIf="selectedComponent === 'analisisLexico'"></app-analizar>
            <app-calculadora  (events)="calcular($event)"  *ngIf="selectedComponent === 'calculadora'"></app-calculadora>
        </div>
        <div class="d-flex justify-content-center align-items-center vh-100">
          <div id="dinamicContainer">
          </div>
        </div>
      </div>
  </div>
</div>
