<div class="errors-container container pt-4 d-flex flex-column">
    <div class="header-erros d-flex align-items-center">
      <div class="errors-logo">
        <img src="../../assets/images/errors.svg.svg" alt="error" class="error-image">
      </div>
      <div class="label">
        <span>Opciones:</span>
      </div>
    </div>
  
    <div class="text pt-5">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" (click)="selectComponent('crearBasico')">Crear Básico</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('concatenar')">Concatenar AFN'S</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('cerraduraPositiva')">Cerradura Positiva</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('cerraduraKleene')">Cerradura Kleene</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('opcional')">Opcional</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('unirAfns')">Unir AFN'S</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('regexToAFN')">Regex a AFN</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('GenerarAFN')">Generar AFN analisis</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('convertir')">Convertir AFN a AFD</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('analisisLexico')">Análisis léxico</button>
        <button type="button" class="btn btn-primary" (click)="selectComponent('calculadora')">Calculadora</button>
      </div>
      <div class="reset">
        <button type="button" class="btn btn-danger mt-5" (click)="resetAll()">Reset</button>
        <button type="button" class="btn btn-danger mt-5" (click)="eliminate()">Eliminar</button>
      </div>
    </div>
  </div>
  