/* colors */
:root {
    --label: #efecece7;
    --container-font: "Courier Prime", monospace;
}

.header-erros > .label {
    font-size: 1em;
    font-family: var(--container-font);
    color: var(--label);
}

.btn-primary{
    border-color: #ffff;
    background-color: #171717ff;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #171717ff;
    background-color: #ffff;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.errors-logo {
    margin-right: 15px;
}

.text p {
    color: var(--label);
}

hr {
    color: var(--label);
}

.reset{
    margin-top: 70px;
}