#main, #code {
    background-color: #212121;
    color: #efecece7;
}

.btn-code {
    width: 100px;
    min-height: 50px;
    border-radius: 20px;
    background-color: #efecece7;
    color: #000000;
}

.btn-code:hover {
    background-color: #78A083;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-control:hover {
    border-color: #D61C4E;
    border-width: 1px;
    transform: scale(1.05);
}

.align-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


code {
    font-size: 1em;
}

.bg-gray {
    background-color: #424242;
    height: 30px;
}

.code-text {
    color: #efecece7;
    border-radius: 15px;
}

.code-container {
    margin-left: 15px;
}

.coding {
    font-family: "Courier Prime", monospace;
    font-size: 12px;
}

.options-section {
    background-color: #171717ff;
}

img{
    max-height: 250px;
}

.showCreate {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-50%); 
    max-height: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;
  }

.showCreate.slide-up {
    max-height: 0;
  }
  
  .showCreate.slide-down {
    max-height: 12vh; 
  }
  
  :root {
    --background-main: #2b2b2b;
    --hover-button: #FEEE91;
}


.dinamicGrid-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
}

.dinamicGrid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.dinamicGrid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.dinamicGrid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.dinamicGrid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.dinamicGrid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: var(--background-main);
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 181px;
    height: 181px;
    font-size: 30px;
    border-radius: 5px;
    overflow-y: scroll;
}


p{
    font-size: 15px;
}

input[type="checkbox"] {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    accent-color: white; /* This sets the color of the checkbox */
}

input{
    border-radius: 10px;
    padding: 7px;
    border: var(--background-main);
    border-width: 3px;
    width: 200px;
}